/* Variables para cada paleta */
:root {
  --paleta-1-fondo: #f5f5f5;
  --paleta-1-texto: #252525;
  --paleta-1-destacado: #454545;
  --paleta-1-contenedor: #c5c5c5;
  --paleta-1-boton: #858585;
  --paleta-1-hover: #656565;
  --paleta-1-acento: #555555;

  --paleta-2-fondo: #252525;
  --paleta-2-texto: #f5f5f5;
  --paleta-2-destacado: #c5c5c5;
  --paleta-2-contenedor: #555555;
  --paleta-2-boton: #959595;
  --paleta-2-hover: #b5b5b5;
  --paleta-2-acento: #a5a5a5;
}

.light {
  --fondo: var(--paleta-1-fondo);
  --texto: var(--paleta-1-texto);
  --destacado: var(--paleta-1-destacado);
  --contenedor: var(--paleta-1-contenedor);
  --boton: var(--paleta-1-boton);
  --hover: var(--paleta-1-hover);
  --acento: var(--paleta-1-acento);
}

.dark {
  --fondo: var(--paleta-2-fondo);
  --texto: var(--paleta-2-texto);
  --destacado: var(--paleta-2-destacado);
  --contenedor: var(--paleta-2-contenedor);
  --boton: var(--paleta-2-boton);
  --hover: var(--paleta-2-hover);
  --acento: var(--paleta-2-acento);
}